/* Global styles */
* {
    text-decoration: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  h1{
    text-align: center;
  }
  
  .header {
    background-color: #0077be;
    color: #fff;
    padding: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 22px;
  }

  .header img{
    width: 3%;
    height: 3%;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    overflow: hidden;
    list-style: none;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #0077be;
    text-align: center;
    padding: 14px 16px;
  }

  nav form{
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0%;
  }
  
  nav li a:hover {
    background-color: #ddd;
    color: #0077be;
  }
  
  .contenido {
    margin: 0px;
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 0px;
  }
  
  .primera-seccion{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 5%;
  }

  .imagen img{
    margin-left: 0%;
    align-self: center;
    height: 50%;
    width: 50%;
    margin-bottom: 66px;
    margin-right: 11px;
  }

  .imagen-temp{
    display: block;
    align-self: flex-start;
    height: 274px;
  }

  .imagen-temp p{
    font-size: 18px;
  }
  
  .imagen{
    display: flex;
    align-items: baseline;
    margin-left: 0%;
    height: 100%;
  }
  .temperatura{
    font-size: 67px;
    margin-top: 19px;
    align-self: center;
    margin-bottom: 97px;
  }

  .variables{
    width: 45%;
    margin-left: 12%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
  }

  #head {
    display: flex;
    justify-content: center;
    margin-left: 260px;
    height: 32px;
  }

  #celcius {
    margin-left: 200px;
    border-right: none;
  }

  #farenheit {
    border-left: none;
  }

  #celcius:hover {
    border-right: none;
    margin-left: 194px;
  }

  #humedad{
    display: flex;
    justify-content: space-between;
  }

  #presion{
    display: flex;
    justify-content: space-between;
  }

  #viento{
    display: flex;
    justify-content: space-between;
  }

  .box {
    margin: 0 auto;
    max-width: 800px;
  }
  
  .dias {
    display:flex;
    justify-content: center;
  }

  .dias p {
    margin-right: 10px;
  }

  .temp {
    display: flex;
    justify-content: space-between;
  }

  .temp p {
    margin-right: 10px;
    font-size: 40px;
  }

  footer {
    background-color: #0077be;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .boton {
    background-color:#ddd;
    border: none;
    font-size: 20px;
    transition: 0.3s;
    height: 25px;
  }

  .boton:hover {
    font-size: 22px;
    padding-right: 10px;
    height: 30px;
  }

  #cambio-temp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  #cambio-temp p {
    font-size: 26px;
    padding-bottom: 6px;
    margin-top: 14px;
    margin-bottom: 15px;
  }

  .segunda-seccion h1 {
    margin-bottom: 0px;
  }